@font-face {
  font-family: 'Bw Aleta No 10';
  font-weight: 900;
  font-style: normal;
  src: url('#{$fontPath}/BwAletaNo10-Black.woff2') format('woff2'), url('#{$fontPath}/BwAletaNo10-Black.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Bw Aleta No 10';
  font-weight: 800;
  font-style: normal;
  src: url('#{$fontPath}/BwAletaNo10-ExtraBold.woff2') format('woff2'), url('#{$fontPath}/BwAletaNo10-ExtraBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Bw Aleta No 10';
  font-weight: 700;
  font-style: normal;
  src: url('#{$fontPath}/BwAletaNo10-Bold.woff2') format('woff2'), url('#{$fontPath}/BwAletaNo10-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Bw Aleta No 10';
  font-weight: 500;
  font-style: normal;
  src: url('#{$fontPath}/BwAletaNo10-Medium.woff2') format('woff2'), url('#{$fontPath}/BwAletaNo10-Medium.woff') format('woff');
  font-display: swap;
}
