// základní nastavení typografie
// nadpisy
h1,
h2,
h3,
h4 {
  margin-top: 0;
  line-height: 1.3;
  &:last-child {
    margin-bottom: 0;
  }
}
h1 {
  font-size: 1.875rem;
}
h2 {
  font-size: 1.5625rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
// odkazy
a {
  color: $color_main;
  &:hover,
  &:focus {
    color: $color_main_dark;
  }
}
// odstavce
p {
  margin-top: 0;
  line-height: 1.4;
  &:last-child {
    margin-bottom: 0;
  }
}
// seznamy
ul,
ol {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
  line-height: 1.4;
  li {
    padding: 3px 3px 3px 0;
  }
  ul,
  ol {
    margin: 0;
    padding: 3px 3px 0 10px;
    li {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
