
.icon--icon-chevron-down-3 {
  width: 40px;

  &:before {
    padding-top: (40 / 40) * 100%;
  }
}

.icon--icon-chevron-down-3-color {
  width: 40px;

  &:before {
    padding-top: (40 / 40) * 100%;
  }
}

.icon--icon-close {
  width: 14px;

  &:before {
    padding-top: (13 / 14) * 100%;
  }
}

.icon--icon-close-color {
  width: 14px;

  &:before {
    padding-top: (13 / 14) * 100%;
  }
}

.icon--icon-house {
  width: 42px;

  &:before {
    padding-top: (42 / 42) * 100%;
  }
}

.icon--icon-house-color {
  width: 42px;

  &:before {
    padding-top: (42 / 42) * 100%;
  }
}

.icon--icon-media-play {
  width: 96px;

  &:before {
    padding-top: (96 / 96) * 100%;
  }
}

.icon--icon-media-play-color {
  width: 96px;

  &:before {
    padding-top: (96 / 96) * 100%;
  }
}

.icon--icon-vlajka {
  width: 50px;

  &:before {
    padding-top: (30 / 50) * 100%;
  }
}

.icon--icon-vlajka-color {
  width: 50px;

  &:before {
    padding-top: (30 / 50) * 100%;
  }
}
